@import "helper/mixins";

$row: var(--grid-row, 5);
$col: var(--grid-col, 4);
$icon-size-ratio: 5.6 / 6.6;
$icon-size: 7rem;
$highlight-size: $icon-size;
$highlight-radius: 0.6rem;

$c-favor: #ff8e10;

.animateRightToLeft{
@keyframes  rightToLeft {
  0% {left:50%; }
  100% {left: 0;}
}
animation :leftToRight 2s ease-in-out;

}
.animateLeftToRight{
  @keyframes  leftToRight {
    0% {right:50%; }
    100% {right: 0;}
  }
  animation :leftToRight 2s ease-in-out;

}

#app-list {
  height: 100%;
  width: 100%;
  // padding: 0.8rem 6.25%;
  position: relative;
  top:0rem;
  overflow-y: hidden;
  overflow-x: auto;
  padding-left: 2.7rem;
  //border:1px solid red;

  @keyframes  leftToRight {
    0% {left:50%; }
    100% {left: 0;}
  }
  animation :leftToRight 0.25s ease-in-out;

  .pagination {
    @include fill('bottom');
    position: fixed;
    top: 80%;
    left:0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .page-indicator {
    font-size: 0.6rem;
    width: 1em;
    height: 1em;
    margin: 0.625em 0.4rem;
    border-radius: 50%;
    background-color:var(--color-gs00);
    background-color: #EBEBEB;
    opacity: 0.2;
    transition: opacity 0.2s;
    transform: translateZ(0); // hacks for smooth edge

    &.active {
      opacity: 1;
      width: 1.2em;
      height: 1.2em;
    }
  }

  .appList__container {
    width: 100%;
    height: 100%;
    //overflow-y: hidden;
    //overflow-x:auto;
    visibility: hidden; // hacks for hide scrollbar with `visibility: visible` children
    overflow-x: auto;
    overflow-y: hidden;
    //border:1px solid green;
   // margin-top: 25rem;
  }

  .page {
    // display: flex;
    // flex-direction: column;
    width: 33.3%;
    height: 100%;
    visibility: visible; // hacks for hide parent's scrollbar with `visibility: hidden` parent
    display: inline-block;
  }

  .grid-row {
    display: flex;
    margin-top: 1rem;
    height: calc(100% / 7);
    >div:first-child, >div:nth-child(2), >div:nth-child(3){
      margin-right: 2.5rem;
    }
  }

  .app {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   // width: calc(100% / #{$col});
    width:7.8rem;
    // min-width: workaround for fixing flexbox width in Firefox
    // ref: https://github.com/philipwalton/flexbugs/issues/39
    min-width: 0;
    border:1px solid rgb(66, 63, 63);
    height: 7.8rem;
    background: #423f3f 0% 0% no-repeat padding-box;
    border-radius: 1.6rem;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    margin-left: 0.8rem;
  }

  .app_options{
    background:url('../images/app_option.png');
    height:10rem;
    width:25rem;
    border:2px solid red;
    z-index: 1;
    .option_icon {
      width:4rem;
      height:4rem;
       background:url('../images/trash_bin.png');
    }
  }
}

.app__icon {
  position: relative;
  width: 105%;
  visibility: hidden;
  color: var(--default-grid-highlight-color);

  // highlight
  &::before {
    @include fill;

    content: '';
    z-index: -1;
    width: $highlight-size;
    height: $highlight-size;
    margin: auto;
    border-radius: $highlight-radius;
    background-color: var(--color-gs00);
    visibility: visible;
    opacity: 0;

    .app:focus & {
      opacity: 1;
    }
  }

  // icon
  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
    background-image: inherit;
    // background-size: $icon-size $icon-size;
    background-size: 7rem 7rem;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    visibility: visible;
    margin-top: 1rem;
    // margin-top: 2rem;
  }
}

.app__name {
  @include ellipsis;

  position: relative;
  top: 0.5rem;
  flex-shrink: 0;
  max-width: 100%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;
  //font-size: calc(1rem + 0.2rem * (4 - #{$row}));
  font-size:1.2rem;
  line-height: 1.3;
  text-align: center;
  font-weight: 600;
  color: var(--color-gs00);

  // body
  .large-text & {
    font-size: calc(1.2rem + 0.2rem * (4 - #{$row}));
  }

  @at-root :root[lang="zh-TW"] & {
    font-weight: 400;
  }

  // favorite indicator-icon style
  .app[data-favorite="true"] &::before {
    content: "";
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.2rem;
    vertical-align: middle;
    border-radius: 50%;
    background-color: $c-favor;
  }

}
.buttons{
  color:blue;background:grey;padding: 20px;visibility: visible;border-radius: 5px;
}


.app .badge{
  position: absolute;
  top: -10px;
  right : -10px;
  padding:5px 10px;
  border-radius: 50%;
  background-color: red;
  color:white;

}

.folder_icon{
  height:7.8rem;
  width:7.8rem;
  background: #423f3f 0% 0% no-repeat padding-box;
  border-radius: 1.6rem;
  margin:0 2.5rem 0 0.8rem;
}
.folder_app_icon{
  display: flex;
  background: #423f3f 0% 0% no-repeat padding-box;
  margin-left:0.3rem;
  width:7rem;
  justify-content: center;
  flex-direction:column;
  position: relative;
  top:1rem;
  >row{
    justify-content: center;
    padding: 0;
  }
  /*>row:first-child{
    //if anything needed, will fill it here
  }*/
  >row:nth-child(2){
    margin-top:0.7rem;
  }
  >row:last-child{
    margin-top:0.7rem;
  }
  .small_app_icon{
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;
    border:1px solid grey;
    margin-right:0.7rem;
  }
  .last_icon{
    margin-right:0;
  }
}

.folder_iconname
{
  color:white;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 2.5rem;
  display: inline-block;
  width:9rem;
}


.mainviewmargin
{
  margin-top: 25rem;
  margin-bottom: 2rem;
}