@mixin common_display{
  display: flex;
}
@mixin common_style{
  text-align: center;
  border-radius:1.5rem;
}
.instant_settings_container{ 
  position: absolute;
  top:-0.4rem;
  width:100%;
  z-index:100;
  font-size:1.1rem;
  padding:0 2.5rem;
  background: #1c1c1c;
  color:#fff;
    @keyframes flow-in 
    {
      0% { transform: translateY(-90rem); }
      100% { transform: translateY(-0); }
    }
    animation: flow-in 1s;
  }
.bars_container, .bottom_icons_container{
  @include common_display;

  flex-direction: row;
  justify-content: center;
}
.bars_container .bar_element{
     @include common_style;
}

.bars_container .bar_element, .bottom_icons_container .bar_element{
margin-right: 6rem;
width:2.8rem;
height: 15.4rem;
}
.bars_container>.bar_element:last-child, .bottom_icons_container>.bar_element:last-child{
  margin-right:0 !important;
}
  .music_container{
      flex-direction: column;
      background: #000; 
      @include common_display;
      padding: 1rem 0;
      border-radius: 1rem;
    .music_image{
      float:right;
    }
    >row{
      justify-content: center;
      padding-left:0;
    }
    .ele.music_text{
      font-size:2rem;
      float:left;
      width:75%;
      >div{
        text-align: left;
      }
      .artist_name{
        color:#666;
        font-size:1.5rem;
      }
      .jio_music_icon{
        height:2rem;
        width:2rem;
      }
      .jio_music_text{
        vertical-align: top;
        margin-left: 1rem;
      }
    }
    .ele.music_icons{
      padding-bottom: 1.5rem;
    > img{
      padding: 0 0.8rem;
    }}
  }
    
  .icons_container
  { 
    >div{
      flex:1;
    }
    >row{
      padding:0 1rem 0 0.5rem;
    }
  img{
    border: none;
  }
  }
  .bars_container{
    height:25rem;
    margin-top:2rem;
    .bar_element{
      background: #000;
    }
    .bar_element:first-child{
      margin-left:0;
    }

    .bar_element > img{
      height: 5rem;
      margin-left: -1rem;
      margin-top :-2rem;
    }
     .indicator{
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 4rem;
            height:15.4rem;
            div.progress_bar{
              transform: rotate(270deg);
             background: transparent;
            }
        }   
      }
.bottom_icons_container
{ 
  margin-top:0rem;
  .ele_bottom{
        text-align: center;
        margin-left: 1.5rem;
        margin-right:2rem ;
      }
      .ele_bottom > img{
        border-radius:1.5rem;
      }
      .ele_bottom>span{
        display: inline-block;
      }
    }

  .instantSettings__wall{
    display:none;
  }

  .clock_section{
    position: relative;
  }

   .icons_container {
    @include common_display;
    padding: 1rem 0;
    background: #000;
    margin-top: 1rem;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    .ele{
      padding:0.5rem;
      text-align: center;
      margin-left: 1.5rem;
      >span.icon_name
      {
        display: block;
        margin: -1rem 0 0 -0.8rem; 
      }
  }
   .instantSettings__icon {
      height: 8rem;
      width: 8rem;
   }
  }

  .bottom_icons_container .instantSettings__icon {
    height: 8rem;
    border:1px solid black;
    border-radius:1.5rem;
    margin-bottom: 0.7rem;
    width: 8rem;
  }

  .instantSettings__icon[data-icon]::before{
   content: "";
  }

  .instantSettings__icon[data-icon="flashlight_off"]{
    background:url('../images/torch.png') no-repeat;
  }

  .instantSettings__icon[data-icon="flashlight_on"]{
    background:url('../images/orange_torch.png') no-repeat;
  }
  
  .instantSettings__icon[data-icon="qrscanner_off"]{
    background:url('../images/qr_scanner.png') no-repeat;
  }

  .instantSettings__icon[data-icon="qrscanner_on"]{
    background:url('../images/qr_scanner.png') no-repeat;
  }

  .instantSettings__icon[data-icon="trashbin_off"]{
    background:url('../images/trash_bin.png') no-repeat;
  }

  .instantSettings__icon[data-icon="trashbin_on"]{
    background:url('../images/trash_bin.png') no-repeat;
  }

  .instantSettings__icon[data-icon="mic_off"]{
    background:url('../images/mic.png') no-repeat;
  }

  .instantSettings__icon[data-icon="mic_on"]{
    background:url('../images/mic.png') no-repeat;
  }

  .instantSettings__icon[data-icon="airplane-mode_off"]{
    background:url('../images/flight_disabled.png') no-repeat;
  }

  .instantSettings__icon[data-icon="airplane-mode_on"]{
    background:url('../images/orange_flight.png') no-repeat;
  }

  .instantSettings__icon[data-icon="network_off"]{
    background:url('../images/upDown_disabled.png') no-repeat;
  }

  .instantSettings__icon[data-icon="network_on"]{
    background:url('../images/upDown.png') no-repeat;
  }
  
  .instantSettings__icon[data-icon="bluetooth_off"]{
    background:url('../images/bluetooth_disabled.png') no-repeat;
  }

  .instantSettings__icon[data-icon="bluetooth_on"]{
    background:url('../images/bluetooth.png') no-repeat;
  }

  .instantSettings__icon[data-icon="wifi_off"]{
    background:url('../images/wifi_disabled.png') no-repeat;
  }

  .instantSettings__icon[data-icon="wifi_on"]{
    background:url('../images/wifi.png') no-repeat;
  }

  .instantSettings__icon[data-icon="night-mode_off"]{
    background:url('../images/nightmode.png') no-repeat;
  }

  .instantSettings__icon[data-icon="night-mode_on"]{
    background:url('../images/orange_nightmode.png') no-repeat;
  }

  .instantSettings__icon[data-icon="location_off"]{
    background:url('../images/location_disabled.png') no-repeat;
  }

  .instantSettings__icon[data-icon="location_on"]{
    background:url('../images/location.png') no-repeat;
  }

  .instantSettings__icon[data-icon="calculator"]{
    background:url('../images/calculator.png') no-repeat;
  }

  .instantSettings__icon[data-icon="camera"]{
    background:url('../images/camera.png') no-repeat;
  }
  .instantSettings__icon[data-icon="clock"]{
    background:url('../images/alarm.png') no-repeat;
  }

  .instantSettings__icon[data-icon="wifi_hotspot_off"]{
    background:url('../images/wifi_hotspot_off_68.png') no-repeat;
  }
  .instantSettings__icon[data-icon="wifi_hotspot_on"]{
    background:url('../images/wifi_hotspot.png') no-repeat;
  }

  .instantSettings__icon[data-icon="battery_saver_off"]{
    background:url('../images/battery.png') no-repeat;
  }
  .instantSettings__icon[data-icon="battery_saver_on"]{
    background:url('../images/orange_battery.png') no-repeat;
  }

  .instantSettings__icon[data-icon="orange_battery"]{
    background:url('../images/orange_battery.png') no-repeat;
  }
  .instantSettings__icon[data-icon="screen_rotation"]{
    background:url('../images/screen_rotation.png') no-repeat;
  }
  .instantSettings__icon[data-icon="child_mode"]{
    background:url('../images/child_mode.png') no-repeat;
  }
  .instantSettings__icon[data-icon="do_not_disturb"]{
    background:url('../images/do_not_disturb.png') no-repeat;
  }
  .instantSettings__icon[data-icon="torch"]{
    background:url('../images/torch_disabled.png') no-repeat;
  }
  .instantSettings__icon[data-icon="battery"]{
    background:url('../images/battery.png') no-repeat;
  }
  .instantSettings__icon[data-icon="music_album_image"]{
    background:url('../images/music_album_image.png') no-repeat;
  }


   /*jio*/
  input.bar-input[type='range'] {
            height: 2.8rem;
            width:15.4rem;
            -webkit-appearance: none; 
            outline: none; 
            background: none;
            overflow: hidden;
            border: none;
            padding: 0;
            margin-inline-start: 0;
            margin-inline-end: 0;
  }
  
  input.bar-input[type='range'].bar-input::-webkit-slider-runnable-track {
            height: 0.4rem;
            border-radius: 0.2rem;
            background-color: var(--color-gs20);
            visibility: hidden;
  }
  
  input.bar-input[type='range'].bar-input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 1.6rem;
            height: 1.6rem;
            background-color: var(--color-gs00);
            border-radius: 50%;
            margin-top: -0.6rem;
            border: 0.4rem solid var(--theme-color);
            box-sizing: border-box;
            visibility: hidden;
  }
  
  input.bar-input:enabled[type='range'].pressed.bar-input::-webkit-slider-thumb,
  input.bar-input:enabled[type='range'].bar-input:active::-webkit-slider-thumb {
            width: 3.2rem;
            height: 3.2rem;
            background-color: var(--theme-color);
            
            margin-top: -1.4rem;
            box-sizing: border-box;
            visibility: hidden;
  }
 
  /*jio*/
  input.bar-input[type='range'].bar-input::-moz-range-track {
            height: 0.2rem;
            border-radius: 0.2rem;
            background-color: var(--color-gs20);
            visibility: hidden;
  }
  /*jio*/
  input.bar-input[type='range'].bar-input::-moz-range-thumb {
            width: 1.6rem;
            height: 1.6rem;
            background-color: var(--color-gs00);
            border-radius: 50%;
            border: 0.4rem solid var(--theme-color);
            box-sizing: border-box;
            visibility: hidden;
  }
  /*jio*/
  input.bar-input[type='range'].bar-input::-moz-range-progress {
            height: 2.8rem;
            border-radius: 1.5rem;
            background-color: #fff;
            outline:none;
  }
  input.bar-input[type='range'].bar-input:active::-moz-range-progress {
    height: 2.8rem;
    border-radius: 1.5rem;
    background-color: #fff;
    outline:none;
}
  
  input.bar-input:enabled[type='range'].pressed.bar-input::-moz-range-thumb,
  input.bar-input:enabled[type='range'].bar-input:active::-moz-range-thumb {
            width: 3.2rem;
            height: 3.2rem;
            background-color: var(--theme-color);
            visibility: hidden;
  }

  .slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .hidden {
    display:none;
  }

 //bottom-back,home tab bars 
 .instant_settings_container .tab_bars{
  position: absolute;
  display: flex;
  bottom:8rem;
  left:0%;
  width: 100%;
  justify-content: center;
    >hr{
    background: #EBEBEB;
    border-radius: 0.4rem;
    height: 0.8rem;
    }
    .first_bar, .third_bar{
      width:9.6rem;
    }
    .second_bar{
      width:19.2rem;
    }
}